<h1>Available Courses</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Course</th>
    <th>Instructor</th>
    <th>Fee</th>
    <th>Start Date</th>
    <th>Status</th>
  </tr>

  <tr *ngFor="let course of courses">
    <td>{{ course.id }}</td>

    <td>{{ course.name | uppercase }}</td>

    <td>{{ course.instructor | titlecase }}</td>

    <td>{{ course.fee | currency:'INR' }}</td>

    <td>{{ course.startDate | date:'dd/MM/yyyy' }}</td>

    <td>
      <span *ngIf="course.available; else closed">
        ✅ Available
      </span>

      <ng-template #closed>
        ❌ Closed
      </ng-template>
    </td>
  </tr>
</table>